* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.site-nav {
  z-index: 20;
}

.site-nav.in-body {
  background: rgb(99 64 145 / .9);
  animation: clear 1.25s forwards;
  opacity: 0;
}

.site-header {
  position: relative;
  height: 100vh;
  background: linear-gradient(100deg, rgb(103 66 150), rgb(54 28 88));
  overflow: hidden;
}

.site-header::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 5;
  background-image: url('../images/hero.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  opacity: 0;
  transform: translateY(300px) scale(1.2);
  animation: clear 0.5s forwards;
}

.site-nav .nav-link {
  position: relative;
  padding-block-end: 2px;
}

.site-nav .nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  max-width: 80px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(266 207 31 / 0);
  transform: scale(0);
  transition: all 0.5s cubic-bezier(0.03, 0.78, 0.4, 1.39);
  opacity: 0;
  visibility: hidden;
}

.site-nav .nav-link:hover::before {
  visibility: visible;
  opacity: 1;
  background-color: rgb(206 207 31 / .2);
  transform: scale(1);
}

.site-header .header-title {
  animation: clear .8s .4s forwards;
  transform: translateY(10rem);
  opacity: 0;
}

.site-header .header-subtitle {
  animation: clear 1s .7s forwards;
  transform: translateY(10rem);
  opacity: 0;
}

.site-header .header-cue {
  position: absolute;
  bottom: 0;
  animation: clear .5s 1.5s forwards;
  transform: translateY(2rem);
  z-index: 10;
  overflow: hidden;
}

.site-header .header-cue-icon {
  animation: slide-down .5s 1.8s forwards, pulse 2s 3s ease-in-out infinite;
  transform: translateY(-2rem);
  opacity: 1;
}

.appear {
  animation: clear 1s .5s forwards;
  opacity: 0;
  transform: scale(.9);
}

#friend {
  z-index: 100;
  overflow: hidden;
}

@keyframes clear {
  to {
    opacity: 1;
    transform: none;
  }
}


@keyframes slide-down {
  from {
    transform: translateY(-2rem);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
    transform: scale(1);
  }

  50% {
    opacity: .5;
    transform: scale(.8);

  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}